In [5]:
def vol(rad):
    import math
    return 4/3*math.pi*rad**3

In [6]:
vol(2)

33.510321638291124

In [11]:
def ran_check(num,low,high):
    if low <= num <= high:
        return print(f'{num} is in the range between {low} and {high}')
    else:
        return print(f'{num} is NOT in the range between {low} and {high}')

In [12]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [14]:
ran_check(12,2,7)

12 is NOT in the range between 2 and 7

In [15]:
def ran_bool(num,low,high):
    return low <= num <= high

In [17]:
ran_bool(5,2,7)

True

In [18]:
ran_bool(12,2,7)

False

In [24]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
def up_low(s):
    print('Original string: ' + s)
    counter_up = 0
    counter_down = 0
    for letter in s:
        if letter.isupper():
            counter_up += 1
        elif letter.islower():
            counter_down += 1
    return print(f'No. of Upper case characters: {counter_up}\nNo. of Lower case characters: {counter_down}')
    # non serve il return, una funzione puo' anche non ritornare niente e solo printare

In [25]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original string: Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters: 4
No. of Lower case characters: 33

In [29]:
def unique_list(lst):
    st = set(mylist)
    new_lst = []
    for element in st:
        new_lst.append(element)
    return new_lst

    # return list(set(lst))

In [30]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [31]:
def multiply(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product

In [32]:
multiply([1,2,3,-4])

-24

In [40]:
def palindrome(s):
    s = s.replace(' ','').lower()
    new_s = s[::-1].lower()
    return new_s == s

In [41]:
palindrome('helleh')

True

In [42]:
palindrome('Nurses run')

True

In [43]:
palindrome('Nurses running')

False

In [46]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    str1 = str1.replace(' ','').lower()
    answer = True
    for letter in alphabet:
        if letter not in str1:
            answer = False
            break
    return answer

In [47]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [48]:
ispangram("The brown fox jumps over the lazy dog")

False